/* CSS Document */
/*@font-face {
  font-family: 'Open Sans';
  src: url('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('OpenSans-Bold.ttf') format('truetype');
}*/
body, div, ul, li, h1, h2, h3 {
	display:block;
	margin: 0;
	padding: 0;
	}
body {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
}

#supersize			{position:fixed;}
#supersize img		{height:100%; position:absolute; width:100%; z-index:0;}
#wrapper			{position:relative;z-index:10; float:left; width:100%;}

a, a:link, a:visited {
	color: #4a8fc3;
	text-decoration: none;
	}
a:hover {
	color: #4a8fc3;
	text-decoration: underline;
	}
.wipe {
	clear: both;
	}
#simak {
	padding: 0;
	width: 950px;
	margin: 0 auto;
}

#bg-content {
	position: fixed;
	top: 77px;
	width: 870px;
	height: 100%;
	background: #ffffff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  	/* IE 5-7 */
  	filter: alpha(opacity=40);
  	/* Netscape */
  	-moz-opacity: 0.4;
  	/* Safari 1.x */
  	-khtml-opacity: 0.4;
  	/* Good browsers */
  	opacity: 0.4;
	z-index: 20;
	}
#content {
	position: absolute;
  	top: 0px;
	width: 950px;
	margin: 0;	
	z-index: 30;
	background: url(../img/logo-tni.png) no-repeat;
	text-align: center;
	}
	#greeting {
		/*float: right;
		text-align: right;
		background-color: #630;*/
		margin: 302px auto 0 auto;
		width: 800px;
		}
		#greeting h1 {
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			font-size: 28px;
			letter-spacing: 0.7pt;
			color: #efd54c;
			text-shadow: 0 1px 0 #1e2313;
			margin-bottom: 20px;
			}
		#greeting h3 {
			font-size: 16px;
			color: #ffffff;
			font-weight: normal;
			line-height: 18pt;
			}
		#greeting .welcome {
			float: left;
			padding: 10px 39px 10px 10px;
			width: 333px;
			text-align: right;
			text-shadow: 0 1px 0 #1a2511;
			background: url(../img/boxes-login-vline.png) right repeat-y;
			}
		#greeting .box {
			float: right;
			}
		#greeting .boxes {
			width: 760px;
			background: url(../img/bg-boxes-login.png) repeat-y;
			padding: 20px;
			border-radius: 9px;
			}
		#greeting .box-login {
			float: right;
			position: relative;
			background: url(img/bglogin.png);
			width: 337px;
			padding: 10px 10px 10px 0;
			margin-top: 0;
			z-index: 30;
			}
		#greeting .bg-box-login {
			position: relative;
			background-color:#000000;
			width: 263px;
			height: 123px;
			padding: 15px;
			border-radius: 5px;
			margin-top: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			filter: alpha(opacity=30);
			-moz-opacity: 0.3;
			-khtml-opacity: 0.3;
			opacity: 0.3;
			z-index: 25;
			}
		#greeting .copyright-login {
			font-size: 14px;
			color: #ffffff;
			letter-spacing: 0.4pt;
			margin: 30px 0 15px 0;
			text-align: center;
			}
		#greeting .copyright-login a {
			color: #d5c9b9;
			}
		
		#greeting .box-signup {
			position: relative;
			background: url(img/bglogin.png);
			width: 263px;
			padding: 7px 15px 15px 15px;
			border-radius: 5px;
			margin-top: 7px;
			z-index: 30;
			}
			#greeting .box-signup p {
				margin: 4px 0 10px 0;
				color: #d3c8b9;
				}
		#greeting .bg-box-signup {
			position: relative;
			background-color:#000000;
			width: 263px;
			height: 192px;
			padding: 15px;
			border-radius: 5px;
			margin-top: 7px;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
			filter: alpha(opacity=30);
			-moz-opacity: 0.3;
			-khtml-opacity: 0.3;
			opacity: 0.3;
			z-index: 25;
			}
			
	#simak-login {
		float: right;
		}
		#simak-login input {
			width: 317px;
			height: 34px;
			margin-bottom: 11px;
			border: none;
			border-radius: 5px;
			background-color: #ebebe3;
			color: #45553a;
			font-size: 16px;
			padding: 0 10px;
			}
		#simak-login button {
			float: right;
			}
		#simak-login p.alert {
			display: none;
			padding: 7px;
			background: #C30;
			border-radius: 3px;
			margin: 3px 0 15px 0;
			font-size: 12px;
			color:#ffffff;
			}
			#simak-login p.alert a {
			color:#0036ff;
			}
		#simak-login p.lupa {
			float: left;
			font-size: 13px;
			color:#ffffff;
			margin: 7px 0;
			}
			#simak-login p.lupa a {
			color:#efb04c;
			}
	#simak-signup {
		float: right;
		}
		#simak-signup .sh-info {
			display: block;
			}
		#simak-signup input {
			width: 239px;
			height: 29px;
			margin-bottom: 11px;
			border: 2px solid #d3c8b9;
			border-radius: 3px;
			background-color: transparent;
			color: #d3c8b9;
			font-size: 14px;
			padding: 0 10px;
			}
		#simak-signup input.npp {
			width: 171px;
			height: 29px;
			margin-bottom: 11px;
			border: 2px solid #d3c8b9;
			border-radius: 3px;
			background-color: transparent;
			color: #d3c8b9;
			font-size: 14px;
			padding: 0 10px;
			}
		#simak-signup button {
			float: right;
			}
		#simak-signup p.alert {
			padding: 7px;
			background: #443727;
			border-radius: 3px;
			margin: 3px 0 15px 0;
			font-size: 12px;
			color:#ed9f0d;
			}
			#simak-signup p.alert a {
			color:#0036ff;
			}

button.btn_gold {
	display: block;
	float: right;
	width: 102px;
	height: 35px;
	font-size: 14px;
	text-decoration: none;
	border: 0px;
    border-radius: 5px;
    color: #fff;
    padding-bottom: 5px;
    text-shadow: 0 -1px 0 #c56b10;
	margin-left: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc600), to(#dc791b));
	background: -moz-linear-gradient(top,  #ffc600,  #dc791b);
	cursor: pointer;
	}
	button.btn_gold img {
		margin-top: 1px;
		}
button.btn_gold:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#dc791b), to(#ffc600));
	background: -moz-linear-gradient(top,  #dc791b,  #ffc600);
	}
button.btn_gold_cek {
	display: block;
	float: right;
	width: 65px;
	height: 35px;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid #694a29;
    border-radius: 5px;
    color: #fff;
    padding-bottom: 5px;
    text-shadow: 0 -1px 0 #c56b10;
	margin-left: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffc600), to(#dc791b));
	background: -moz-linear-gradient(top,  #ffc600,  #dc791b);
	cursor: pointer;
	}
	button.btn_gold_cek img {
		margin-top: 1px;
		}
button.btn_gold_cek:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#dc791b), to(#ffc600));
	background: -moz-linear-gradient(top,  #dc791b,  #ffc600);
	}
